trigger:
- dev
- v1.x
- v2.x

jobs:
- job: BuildArtifacts_Windows
  pool:
    vmImage: 'vs2017-win2016'

  steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '3.1.x'
      performMultiLevelLookup: true
  - task: DotNetCoreCLI@2
    inputs:
      command: 'run'
      workingDirectory: '.\build'
      arguments: 'skip:GenerateNetCoreV3BundlesLinux,CreateCDNStoragePackageLinux'
  - task: CopyFiles@2
    inputs:
      SourceFolder: '$(Build.Repository.LocalPath)\artifacts'
      Contents: '*.zip'
      TargetFolder: '$(Build.ArtifactStagingDirectory)'
      CleanTargetFolder: true
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'

- job: BuildArtifacts_Ubuntu
  pool:
    vmImage: 'ubuntu-18.04'

  steps:
  - task: Bash@3
    inputs:
      targetType: 'inline'
      script: |
        mkdir .dotnet &&
        chmod +x dotnet-install.sh &&
        ./dotnet-install.sh --version 3.1.201 --install-dir .dotnet &&
        PATH=".dotnet:"$PATH && dotnet --info
        cd build
        dotnet run skip:GenerateNetCoreV2Bundle,GenerateNetCoreV3BundlesWindows,CreateRUPackage,CreateCDNStoragePackage,CreateCDNStoragePackageWindows
  - task: CopyFiles@2
    inputs:
      SourceFolder: '$(Build.Repository.LocalPath)/artifacts'
      Contents: '*.zip'
      TargetFolder: '$(Build.ArtifactStagingDirectory)'
      CleanTargetFolder: true
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop2'
      publishLocation: 'Container'