pytest
invoke
mysql-connector-python
pyodbc
requests==2.*
azure-functions

# Azure SDK packages for emulator tests
azure-cosmos
azure-eventhub
confluent-kafka
azure-functions-durable
python-dateutil~=2.9.0

# Additional utilities
python-dotenv
pika
