pytest
invoke
mysql-connector-python
requests==2.*
azure-functions

# Azure SDK packages for emulator tests
azure-cosmos
azure-eventhub
python-dateutil~=2.9.0

# Additional utilities
coverage
python-dotenv